{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <!-- Title-->
        <h2 class="page-section-heading text-center text-uppercase text-white">À Propos</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About -->

        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead"> Ce site vous est proposé par l'équipe de développement
                IncredibleDevs, composé de MOURAD Gabriel, LUIS Eva et MARDI Samuel. </p></div>
            <div class="col-lg-4 mr-auto "><p class="lead" style="font-size:22px;"> Pour nous contacter : </p>
                <p class="lead " style="color:white ; text-decoration:underline;">contact@bojeu.com</p></div>
        </div>
        <div class="allign-text-bottom" style="margin-top:100px;">
            <p class="lead" style="font-size:16px;">Site développé avec l'éditeur de code PyCharm et le framework
                Django</p>


        </div>
    </div>

{% endblock %}