<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    {% load static %}

    <title>Bo'Jeu</title>
    <!-- Favicon (logo du site)-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
    <!-- A free icon library -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>

    {% block head %}{% endblock %}
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/" title="Page d'Accueil"><img
                src="{% static 'img/bo-jeu.png' %}" style="width: 150px;"></a>

        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     href="/games">Jeux</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     href="/about">À Propos</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     href="/account">Compte {% if user.is_authenticated %} -
                    {{ user }}{% endif %}</a></li>
                {% if photo_index %}<img src="{{ photo_index }}" class="profilePic"
                                         style="width: 60px; height: 60px; border-radius:50%">{% endif %}
                {% if user.is_authenticated %}
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Se
                        déconnecter</a>{% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        {% block content %}

        {% endblock %}
    </div>
</header>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- to have cool blue space -->
        </div>
                <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    </div>
</footer>
<!-- Copyright-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Par Samuel, Eva et Gabriel - 2021</small></div>
</div>
<!-- JS-->
<script src='{% static "js/scripts.js" %}'></script>
<script type="text/javascript" src="{% static 'js/calculmental.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puissance4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/morpion.js' %}"></script>

</body>
</html>
