{% extends 'base.html' %}

{% block content %}

    <div class="CalculMental-container col-9">
        <h3>Calcul mental</h3>
        <div class="CalculMentail-head">

            <span id="countdown"></span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="hardmode">
                <label class="form-check-label" for="hardmode" id="hardmodeLabel">Hard</label>
            </div>
            <div>
                <div>

                    <select class="form-select" aria-label="Default select example" id="numberQuestion"
                            onchange="questionVerification()">
                        <option selected>Choix du nombre de calcul</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>

                </div>

            </div>
        </div>
        <div class="CalculMental-content" id="calculBlock" style="display: none;">
            <p id="calcul"></p>
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <input id="result" class="form-control" type="text">
                </div>
                <div class="col-auto">
                    <button onclick="checkAnswer()" class="btn btn-secondary" id="checkResult">valider</button>
                </div>
            </div>
            <p id="answer" style="margin-top: 15px; padding: 5px; border-radius: 6px"></p>
        </div>
        <div class="col-auto" id="generateButton">
            <button disabled class="btn btn-secondary" onclick="launchGame()"
                    style="margin-top: 15px; padding: 5px; border-radius: 6px" id="generateTheButton">Générer un calcul
            </button>
        </div>
    </div>
    <div class="col-3">
        <ul class="list-group" id="listAnswers"></ul>
    </div>

    <form method="POST" action="" id="scoreForm" style="visibility:hidden">
        {% csrf_token %}
        <input type="text" id="score" name="score">
        <input type="text" id="time" name="time">
        <input type="checkbox" id="isHard" name="isHard">
        <input type="submit" value="Submit" id="scoreFormSubmit">
    </form>

{% endblock %}