{% extends 'base.html' %}

{% block content %}
    <h2>Jeux Solo (avec classement)</h2>
    {% if not user.is_authenticated %}
        <p style="color: red ;font-size: 30px">Vous devez avoir un compte pour les jeux solo!</p><br>{% endif %}
    <div style="display:flex">

        <button type="button" class="btn btn-secondary" href="calculmental" {% if not user.is_authenticated %}disabled
                title="Vous devez avoir un compte"{% endif %}>
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               {% if user.is_authenticated %}href="calculmental"{% endif %}>Jeu du Calcul Mental</a>
        </button>
    </div>
    <p></p>
    <h2>Jeux Multijoueurs</h2>

    <div style="display:flex">
        <button type="button" class="btn btn-secondary" href="puissance4" style="margin-right: 23px">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="puissance4">Jeu du Puissance 4</a>
        </button>
        <button class="btn btn-secondary" href="morpion" title="Pour s'éclater entre amis ! ">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="morpion">Jeu du Morpion</a>
        </button>
    </div>
{% endblock %}