{% extends 'base.html' %}

{% block content %}

    <!-- Accueil-->
    <h1 class="masthead-heading text-uppercase mb-0">Accueil</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Logo -->

    <img src="https://media.discordapp.net/attachments/820142447781871619/843114547689947166/bo-jeu.png"
         style="width: 500px; margin-top: -100px">

    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Classement -->

    <h2>Classement Général</h2>

    <p class="masthead-subheading font-weight-light mb-0">Les meilleurs sont là (en calcul mental)</p>
    <form method="post">
        {% csrf_token %}
        <div class=container d-flex align-items-center flex-column>
            {% for score, pp in globalScores %}
                <p style="margin-top: 15px; padding: 5px; border-radius: 6px; font-size: 40px;background-color: #1abc9c; color: #ddff00;"
                   {% if score.hard %}class="bg-danger" {% else %} class="bg-success" {% endif %}>
                    {% if pp %}<img src="{{ pp }}" class="profilePic" style="width: 60px; height: 60px; border-radius:50%"> {% endif %}
                    {{ score.user }} à fait un score de {{ score.score }} en {{ score.time }} secondes !
                </p>

            {% endfor %}
        </div>
    </form>


{% endblock %}

