{% extends 'base.html' %}

{% block content %}

    <style>
        .profilePic {
            max-height: 300px !important;
        }


    </style>
    <!-- Welcome Title-->
    <h1 style="color:purple" class="masthead-heading text-uppercase mb-0">Salut {{ user }}</h1>
    <p></p>

    <!-- Profile Picture -->
    <h2>Photo de Profil</h2>

    <img src="{{ photo_index }}" class="profilePic" style="border-radius:20%">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="pdp" class="btn btn-secondary">Envoyer</button>
    </form>


    <p></p>

    <h1></h1>

    <!-- Filter -->
    <h3>Filtres</h3>
    <form method="post">
        {% csrf_token %}
        <div>

            <input type="submit" name="black_and_white_filter" value="Noir et Blanc" class="btn btn-secondary"
                   style="background-color: gray">
        </div>

        <p></p>
        <div>
            <input type="submit" name="red_filter" value="Rouge" class="btn btn-secondary"
                   style="background-color: red">
            <input type="submit" name="green_filter" value="Vert" class="btn btn-secondary"
                   style="background-color: green">
            <input type="submit" name="blue_filter" value="Bleu" class="btn btn-secondary"
                   style="background-color: blue">
        </div>
        <p></p>
        <div>
            <input type="submit" name="yellow_filter" value="Jaune" class="btn btn-secondary"
                   style="background-color: yellow; color: #000000">
            <input type="submit" name="purple_filter" value="Violet" class="btn btn-secondary"
                   style="background-color: purple">
            <input type="submit" name="turquoise_filter" value="Turquoise" class="btn btn-secondary"
                   style="background-color: turquoise;color: #000000">
            <input type="submit" name="rose_filter" value="Rose" class="btn btn-secondary"
                   style="background-color: hotpink">
            <input type="submit" name="orange_filter" value="Orange" class="btn btn-secondary"
                   style="background-color: orangered">

        </div>
        <p></p>

        <!-- Classement Title -->
        <h3>Classement (calcul mental)</h3>

        <div class=container d-flex align-items-center flex-column>
            {% for score in scores %}
                <p style="margin-top: 15px; padding: 5px; border-radius: 6px; font-size: 30px;background-color: #1abc9c; color: #ddff00;"
                   {% if score.hard %}class="bg-danger" {% else %} class="bg-success" {% endif %}>Vous avez fait un
                    score de {{ score.score }} en {{ score.time }} secondes !</p>

            {% endfor %}
        </div>


    </form>

{% endblock %}