{% extends 'base.html' %}

{% block content %}

    <!-- Title-->
    <h1 style="color:purple" class="masthead-heading text-uppercase mb-0">Pas de compte</h1>
    <!-- Redirection to login page-->
    <a href="/login"><p style="color:darkblue">Connecte toi ici (clique)</p></a>

{% endblock %}
