{% extends 'base.html' %}

{% block content %}

    <!-- Implement login -->
    <form method="POST" action="">
        {% csrf_token %}
        <h1>Connexion</h1>
        <div class="form-label-group">
            <input type="text" name="username" class="form-control" required autofocus>
            <label for="inputEmail">Pseudo</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" class="form-control" required>
            <label for="inputPassword">Mot de Passe</label>
        </div>

        <input type="submit" value="Se connecter" class="btn btn-secondary">
    </form>

    <a href="/register"><p style="color:#0000DF">Inscrivez vous ici ! </p></a>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

{% endblock %}